<div class="feature-box">
  <%= form_with url: path, method: :post, local: true do |f| %>
    <li>
      <%= f.label :name%>
      <%= f.text_field :name%></li><br>
    <li>
      <%= f.label :threshold %>
      <%= f.text_field :threshold %></li><br>
    <li>
      <%= f.label :percent %>
      <%= f.text_field :percent %></li><br>

    <%= f.submit label %>
  <% end %>
</div>
