<div class="feature-box">
  <h1>Current Available Discounts</h1>

  <ul id="discounts-list">
    <% @merchant.discounts.each do |discount| %>
    <br>
      <div id="<%="disc-#{discount.id}"%>">
        <%= link_to discount.name, "/merchants/#{@merchant.id}/discounts/#{discount.id}" %><br>
      Quantity Needed: <%= discount.threshold %> items<br>
      Percent Discounted: <%= discount.percent %>% off<br>
      <%= link_to "Delete Promotion", "/merchants/#{@merchant.id}/discounts/#{discount.id}", method: :delete %><br>
      <%= link_to "Edit Discount", "/merchants/#{@merchant.id}/discounts/#{discount.id}/edit", method: :get %>
      </div>
    <% end %>
  </ul>
  <%= link_to "Create New Promotion", "/merchants/#{@merchant.id}/discounts/new", method: :get %>
</div>
