<div class="feature-box">
  <header>
    <h4>Upcoming Holidays</h4>
    <% @holidays.each do |holiday| %>
      <p><%= holiday.name %>: <%= holiday.date %></p>
    <% end %>
  </header>
  <h1>Discounts Index for <%= @merchant.name %> </h1>
  <ul id="discounts-list">
    <% @merchant.discounts.each do |discount| %>
    <br>
      <div id="<%="disc-#{discount.id}"%>">
        <%= link_to discount.name, "/merchants/#{@merchant.id}/discounts/#{discount.id}" %><br>
        Quantity Needed: <%= discount.threshold %> items<br>
        Percent Discounted: <%= discount.percent %>% off<br>
        <div class="link-to">
          <%= link_to "Delete Discount", "/merchants/#{@merchant.id}/discounts/#{discount.id}", method: :delete %><br>
        </div>
        <br>
        <div class="link-to">
          <%= link_to "Edit Discount", "/merchants/#{@merchant.id}/discounts/#{discount.id}/edit", method: :get %>
        </div>
      </div>
    <% end %>
  </ul><br>
  <div class="link-to">
    <%= link_to "Create New Discount", "/merchants/#{@merchant.id}/discounts/new", method: :get %>
  </div>
  <div class="button-to">
    <%= button_to "Merchant Info", "/merchants/#{@merchant.id}", method: :get %>
  </div>
</div>
