<div class="feature-box">

  <h1><%= @discount.name %> Discount Show Page</h1>
    <ul>
      <p>Discount Name: <%= @discount.name %></p><br>
      <p>Quantity Needed: <%= @discount.threshold %> items </p><br>
      <p>Percent Discounted: <%= @discount.percent %>%<br>
      <p>Discount Created At: <%= @discount.created_at %></p>
    </ul>
<br>
  <div class="link-to">
    <%= button_to "Discounts Index", "/merchants/#{@discount.merchant.id}/discounts", method: :get %>
  </div>
  <div class="button-to">
    <%= button_to "Merchant Info", "/merchants/#{@discount.merchant.id}", method: :get %>
  </div>
</div>
